.k-color-palette-field {
  .k-button {
    cursor: pointer;
  }

  .k-button-figure .k-icon {
    margin-right: -4px;
  }
}

.color-palette_input {
  &-list {
    background: darken(#efefef, 2%);
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem;
    padding-bottom: calc(0.75rem - 6px);

    li {
      border: 4px solid transparent;
      margin-bottom: 6px;
      position: relative;
      transition: transform 0.3s ease-out;

      /* Size
			------------------------*/
      &.small {
        height: 28px;
        width: 28px;
      }

      &.medium {
        height: 38px;
        width: 38px;
      }

      &.large {
        height: 48px;
        width: 48px;
      }

      &:not(:last-child) {
        margin-right: 6px;
      }

      &.active {
        border: 4px solid white;
        outline: 1px solid #ccc;
        pointer-events: none;

        /* Unselect?
				------------------------*/
        &.unselect {
          cursor: pointer;
          pointer-events: auto;
        }
      }

      &:not(.active) {
        cursor: pointer;
      }
    }
  }

  /* Style
	------------------------*/
  &-color {
    height: 100%;
    width: 100%;

    &[data-tooltip] {
      cursor: pointer;
      position: relative;
      z-index: 2;

      &::before,
      &::after {
        pointer-events: none;
        visibility: hidden;
      }

      &::before {
        background-color: #000;
        bottom: 120%;
        color: #fff;
        content: attr(data-tooltip);
        font-size: 14px;
        left: 50%;
        line-height: 16px;
        margin-bottom: 5px;
        padding: 7px 12px;
        position: absolute;
        text-align: center;
        transform: translate(-50%);
        white-space: pre;
        width: auto;
      }

      &::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        bottom: 120%;
        content: "";
        font-size: 0;
        left: 50%;
        line-height: 0;
        margin-left: -5px;
        position: absolute;
        width: 0;
      }

      &:hover {
        &::before,
        &::after {
          visibility: visible;
        }
      }
    }
  }
}

.color-palette_empty {
  &-palette {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;

    .k-icon {
      align-items: center;
      border-right: 1px solid #d6d6d6;
      display: flex;
      justify-content: center;
      margin-bottom: 0;

      svg {
        width: 14px;
      }
    }

    p {
      line-height: 1.25rem;
      text-align: left;
    }

    &.small {
      .k-icon {
        height: calc(28px + 1.5rem);
        width: calc(28px + 1.5rem);
      }

      p {
        padding: 0.75rem 1rem;
      }
    }

    &.medium {
      .k-icon {
        height: calc(38px + 1.5rem);
        width: calc(38px + 1.5rem);
      }

      p {
        padding: 0.75rem 1.25rem;
      }
    }

    &.large {
      .k-icon {
        height: calc(48px + 1.5rem);
        width: calc(48px + 1.5rem);
      }

      p {
        padding: 0.75rem 1.75rem;
      }
    }
  }

  &-loading {
    background: darken(#efefef, 2%);
    padding: 0.75rem;

    .loader-ctn {
      align-items: center;
      display: flex;
      justify-content: center;

      &.small {
        height: 28px;
      }

      &.medium {
        height: 38px;
      }

      &.large {
        height: 48px;
      }

      .loader {
        display: inline-block;
        height: 1.3em;
        line-height: 1.5em;
        margin-top: -0.3em;
        overflow: hidden;
        vertical-align: text-bottom;

        &::after {
          animation: spin10 0.8s steps(10) infinite;
          content: "⠋\A⠙\A⠹\A⠸\A⠼\A⠴\A⠦\A⠧\A⠇\A⠏";
          display: inline-table;
          text-align: left;
          white-space: pre;
        }
      }

      @keyframes spin10 { to { transform: translateY(-15em); } }
    }
  }
}
